<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GraphicsDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A72DE2C02C18908000B3306C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A72DE2D12C18908100B3306C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A72DE2DB2C18908100B3306C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
